<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">
    <img src="assets/TUC01.png" alt="logo" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleMenu()"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show]="isMenuOpen">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/todo"
          routerLinkActive="active"
          (click)="isMenuOpen = false"
          >Todo</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/student"
          routerLinkActive="active"
          (click)="isMenuOpen = false"
          >Studnet B-19</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/subForm"
          routerLinkActive="active"
          (click)="isMenuOpen = false"
          >SubForm</a
        >
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 text-success">
      <input 
      class="form-control mr-sm-2"
       type="search"
        (input)="onSearch($event)"
        placeholder="Search" />


      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
